
#formularz{
    margin: 15px;
}
#zajawka h1{
    color: black;
    text-align: center;
    padding-top: 50px;
}
#zajawka h2{
    color: black;
    padding-top: 200px;
    padding-left: 50px;
    padding-right: 50px;

}