/* ogolne */

body {
    font: inherit;
    font-family: "Josefin Sans";
    font-size: 100%;
    letter-spacing: -0.015em;
    margin: 0;
}

p {
    font-family: "Josefin Sans";
}

a {
    color: #0091ea;
}

a:hover {
    color: #81D4FA;
}

/*header*/

#header {
    height: 70px;
    width: 98%;
}

#logo {
    height: 50px;
    margin: 10px 10px 0 50px;
    display: block;
    float: left;
}

#ikony {
    display: block;
    float: right;
    color: #0091ea;
    margin: 10px;
}

#button {
    background-color: #0091ea;
    color: white;
    font-size: larger;
    border-radius: 5px;
    margin-right: 50px;
    padding: 10px;
}

#button:hover {
    background-color: #81D4FA;
}

/*formularz*/


#formularz {
    position: relative;
    color: #737373;
    text-align: center;
    background-color: #F0FAFF;
    width: auto;
}

form {
    margin: auto;
    width: 500px;
    padding: 15px;
}

.tytul {
    font-size: 35px;
    line-height: 5%;
}


.opis {

}

.input {
    display: flex;
    align-items: center;
}

#email {
    width: 75%;
    height:44px;
    background: #FDFCFB;
    color: #737373;
    letter-spacing: 1px;
    text-indent: 5%;
    border-radius: 5px 0 0 5px;
}

.submit {
    width: 150px;
    height: 48px;
    border: 1px solid #737373;
    background: #E86C8D;
    font-family: inherit;
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background .3s ease-in ;
}

.submit:hover {
    background: #0091ea;
}


/*features_images*/

#features_images {
    position: relative;
    box-sizing: border-box;
    margin-top: 50px;
    margin-left: auto;
    min-height: 100%;
    width: 1286px;


}

.image {

    margin-bottom: -4px;
    margin-left: 50px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}


.image_text {

    display: inline-block;
    vertical-align: middle;
    width: 500px;
    margin: 50px;
    text-align: left;

}

.image_text_lewy {

    display: inline-block;
    vertical-align: middle;
    width: 500px;
    margin-left: 50px;
    margin-right: 100px;
    text-align: right;

}
.image_text h1 {

    color: #0091ea;
    font-size: 40px;
    font-family: "Josefin Sans";
}

.image_text p {

    color:#737373;
    font-family: "Josefin Sans";

}

.image_text_lewy h1 {

    color: #0091ea;
    font-size: 40px;
    font-family: "Josefin Sans";
}

.image_text_lewy p {

    color:#737373;
    font-family: "Josefin Sans";

}





/*funkcjonalnosci*/


.wrapper {
    position: relative;
    width: 920px;
    min-height: 100%;
    margin: 0 auto;
    box-sizing: border-box;

}

.wrapper i {

    color: #0091ea;
;

}

.wrapper i:hover {

    color: #81D4FA;
}

.feature-grid {
    margin-top: 50px;
    text-align: center;
    position: relative;
    display: block;
    background-color: white;



}

.features-item {
    display: inline-block;
    box-sizing: border-box;
    padding: 20px;
    vertical-align: top;
    width: 25%;
    font-size: 16px;

}

/*zajawka*/

#zajawka {
    height: 500px;
    width: auto;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../images/zajawka2.jpg');
    background-size: cover;
}

#zajawka-h1-h2 {
    float: left;
    width: 50%;
    background-color: blue;
    background-size: cover;
}
#zajawka-prawy{
    float: right;
    width: 50%;
    background-color: red;
    background-size: cover;
}

/*stopka*/

#footer {
    box-sizing: border-box;
    width: 100%;
    padding: 35px 0;
    border-top: 1px solid #e3e3e3;
    height: 100px;
    text-align: center;
    position: relative;
}

#footer i {
    color: #0091ea;

}

#footer i:hover {
    color: #81D4FA;

}