/*------------------------------------------------------------------------------------------------*/

/* ogolne */

body {

    font: inherit;
    font-family: "Josefin Sans";
    font-size: 100%;
    margin: 0;
    color: #737373;
    font-family: "Josefin Sans";

}

p {
    font-family: "Josefin Sans";
    color: #737373;
}

a {
    color: #0091ea;
}

a:hover {
    color: #81D4FA;
}

i {

    color: #205081;

}

i:hover {

    color: #81D4FA;
}

 h1 {

    color: #0091ea;
    font-size: 40px;
}

 h2, h3, h4, h5 {
     color: #737373;
 }

 h2 {
     font-size: 25px;
 }

 h3 {

     font-size: 25px;
 }


/*------------------------------------------------------------------------------------------------*/

/*wrapper - TRZYMA KONTENT STRONY !!!! */

.wrapper {

    position: relative;
    width: 1020px;
    min-height: 100%;
    margin: auto;
    box-sizing: border-box;
    padding-bottom: 50px;
    padding-top: 50px;

}

/*------------------------------------------------------------------------------------------------*/


/*header*/

#header {
    height: 60px;
    width: auto;
    margin: auto;
    background-color: #205081;

}


#logo {
    height: 40px;
    margin: 10px 10px 0 50px;
    display: block;
    float: left;
}

/*------------------------------------------------------------------------------------------------*/


/*Menu*/

ul#menu {
    display: inline-block;
    left: 120px;
    padding: 10px;
}

ul#menu li {
    display: inline;
}

ul#menu li a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
}

ul#menu li a:hover {
    color: #E86C8D;
}

#zapisz_header {

    width: 150px;
    height: 42px;
    border-radius: 5px;
    display: block;
    float: right;
    margin: 10px 50px 10px 0;
}

/*------------------------------------------------------------------------------------------------*/


/*formularz*/


#formularz {
    position: relative;
    text-align: center;
    background-color: #F0FAFF;
    width: auto;
    height: auto;
    padding-bottom: 30px;
}

form {
    margin: auto;
    width: 500px;
    padding: 15px;
}

.tytul {
    font-size: 35px;
    line-height: 5%;
}


.opis {

}

.input {
    display: flex;
    align-items: center;
}

#email {
    width: 75%;
    height:44px;
    background: #FDFCFB;
    letter-spacing: 1px;
    text-indent: 5%;
    border-radius: 5px 0 0 5px;
    color: black;
}

.submit {
    width: 150px;
    height: 48px;
    border: 1px solid #737373;
    background: #E86C8D;
    font-family: inherit;
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background .3s ease-in ;
}

.submit:hover {
    background: #0091ea;
}


/*------------------------------------------------------------------------------------------------*/


/*features_images*/

#features_images {
    position: relative;
    box-sizing: border-box;
    margin-top: 50px;
    margin: auto;
    min-height: 100%;
    width: 1286px;


}

.image {

    margin-bottom: -4px;
    margin-left: 50px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}


.image_text {

    display: inline-block;
    vertical-align: middle;
    width: 500px;
    margin: 50px;
    text-align: left;

}

.image_text_lewy {

    display: inline-block;
    vertical-align: middle;
    width: 500px;
    margin-left: 50px;
    margin-right: 100px;
    text-align: right;

}


/*------------------------------------------------------------------------------------------------*/


/*funkcjonalnosci*/



.feature-grid {

    margin-top: 50px;
    text-align: center;
    position: relative;
    display: block;
    background-color: white;

}

.features-item {
    display: inline-block;
    box-sizing: border-box;
    padding: 20px;
    vertical-align: top;
    width: 25%;

}

/*------------------------------------------------------------------------------------------------*/


/*zajawka*/

.default-width {
    width: 1280px;
}


#zajawka {
    height: 500px;
    width: auto;
    background-color: #0091ea;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#zajawka-lewy {
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 50%;
    background-color: transparent;
    background-size: cover;
    text-align: left;
    color:black;


}
#zajawka-wewnatrz {

    height: 100%;
    position: relative;
    margin: auto;


}

#zajawka-prawy{
    position: absolute;
    top:0;
    left: 50%;
    bottom: 0;
    right: 0;
    background-size: cover;

}
.zajawka-1{
    background-image: url('../images/Zajawka_prawy.png');
}
.zajawka-2{
    background-image: url('../images/Post-it.jpg');


}
#zajawka-lewy h1{
    text-align: center;
    margin-top: 100px;
    margin-right: 100px;
    margin-left: 100px;
    color: white;
}

#zajawka-lewy h2{
    text-align: center;
    margin-top: 40px;
    margin-right: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    color: white;
}

/*------------------------------------------------------------------------------------------------*/

/*stopka*/

#footer {
    box-sizing: border-box;
    width: 100%;
    padding: 35px 0;
    border-top: 1px solid #e3e3e3;
    height: 100px;
    text-align: center;
    position: relative;
    background-color: #205081;
}

#footer i {

    color:white;
}

#footer i:hover {

    color:#737373;
}

#footer span {

    color: white;
    font-family: sans-serif;
    display: block;

}


/*------------------------------------------------------------------------------------------------*/
